html {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.app{
  display: flex;
}

.todoList {
  padding: 0;
}


.todoItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.todoText {
  display: inline-block;
  margin-right: 15px;
}